body{
    /* box-sizing: border-box; */
    align-items: center;
    background-color: #FFD55A;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.header{
    /* background-image: linear-gradient(to bottom right , rgb(42, 243, 59), rgb(243, 139, 42),rgb(109, 148, 231)); */
    /* margin-top: 2%;
    margin-bottom: 2%; */
    background-color: #317773;
}
h2{
    text-align: center;
    color: #40e271;
    /* text-shadow: 2px 2px rgb(247, 244, 245); */
    font-weight: bold;
}
.styleBar{
    text-align: center;
}
.row-table{
    height: 75vh;
    overflow: auto;
    background-color: white;
}
.footer{
    margin-top: auto;
    background-color: #317773;
}
.graph-display{
    border-radius: 20px;
    background-color: teal;
    color: white;
    text-align: center;
    margin-top: 1.5%;
    /* margin-left: 15%; */
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #363f3d;
}

h2 {
    font-size: 3vw;
    margin-top: 1%;
    /* color: rgb(10, 10, 10); */
    color: rgb(252, 0, 0);
    text-shadow: 4px 4px 0px rgb(255, 255, 255);
    background: none;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
}
  
@keyframes fadeIn {
  0% {
    opacity: 0
  }
  
  100% {
      opacity: 1;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.add-heading .submit{
    background-color: teal;
    color: white;
    font-size: 15px;
}  

.add-heading .Company-add{
    text-align: center;
    height: 80vh;
    overflow: scroll;
    padding-bottom: 2%;
}
.add-heading h5{
    text-align: center;
}

.addData {
    background-color: teal;
    color: wheat;
}

.datainaside {
    height: 75vh;
}

.red {
    background-color: white;
}
  